

* {
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

.logo {
    width: 160px;
    height: 135px;
    margin-left: 3vw;
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #2935b6;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    height: 150px;
  } 
  
  .logo {
    width: 200px;
    height: auto;
    /* height: 140px; */
  }
  
  .contact-button {
    background-color: rgb(208, 96, 96);
    color: white;
    border-radius: 10px;
  }
  
  #navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
  }
  #navbar-links  li{
    list-style: none;
    border-bottom: white solid 5px;
  }
  
  #navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    font-size: 1rem;
  }
  
  #navbar-links li:hover {
    cursor: pointer;
    border-bottom: #2935b6 solid 5px;
  }
  
  #hamburger-button {
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }
  
  #hamburger-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
  
  @media (max-width: 900px) {
    #hamburger-button {
      display: flex;
      margin-top: 30px;
    }
  
    #navbar-links {
      display: none;
      width: 100%;
    }
  
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin: 0;
      padding: 0;
    }
  
    #navbar-links ul {
      flex-direction: column;
      width: 100%;
      background-color: white;
      z-index: 1;
    }

    .contact-button {
        border-radius: 0;
    }
  
    #navbar-links li {
      text-align: center;
      font-size: 5rem;
    }

    #navbar-links li a {
        color: black;
    }
  
    #navbar-links.active {
      display: flex;
    }
  } 
  
  /* >>>>>>>>>>>>>>>> Hero Section <<<<<<<<<<<<<<<*/
.hero {
    background-color: #3843B8;
    background: linear-gradient(to bottom, #2935b6, rgb(155, 221, 243));
    color: white;
    border-bottom-left-radius: 450px 500px;
    border-bottom-right-radius: 1500px 800px;
    height: 600px;
    margin: 0;
    padding-top: 50px;
}

.hero h1 {
    font-size: 5vw;
    margin: 0;
    padding-left: 10vw;
}


.hero h3 {
    font-size: 1rem;
    padding-left: 10vw;
}

.computers-image {
    /* width: 40rem;
    height: 35rem; */
    width: 600px;
    height: auto;
    position: absolute;
    top: 225px;
    right: 7vw;
}

@media(max-width: 1400px) {
  .computers-image {
      position: absolute;
      right: 0px;
  }
}

@media(max-width: 1200px) {
    .computers-image {
        position: absolute;
        top: 400px;
        right: 0px;
    }
}

@media(max-width: 600px) {
  .computers-image {
      position: absolute;
      top: 400px;
      right: 0px;
      width: 450px;
  }

  .hero h1 {
    padding-left: 0;
    font-size: 2.5rem;
  }

  .hero h3 {
    padding-left: 0;
  }
}

/* . >>>>>>>>>>>      What we offer section    <<<<<<<<<<< */

.whatWeOffer-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}

.blue {
    color: #80b1f0;
}

.whatWeOffer-paragraph {
    text-align: center;
    font-size: 20px;
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.feature-container {
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
}

.feature-container p {
    font-size: 20px;
}

.icon-container {
    border-radius: 50%;
    width: 50px;
}

.smartPhone-container {
    background-color: gold;
}

.computerAndPhone-container {
    background-color: rgb(187, 138, 187);
}

.seo-container {
    background-color: orange;
}

.features-icon {
    width: 50px;
    height: auto;
    margin: auto;
}

/* >>>>>>>>>>>     Contract Section      <<<<<<<<<<   */
.manOnMoney-image {
    width: 400px;
    height: auto;
    border-radius: 300px 350px 750px 400px;
    padding: 50px;
}

.contractSection-image-container {
    background-color: #d6e4f7;
    border-radius: 200px 500px 250px 400px;
    margin-top: 100px;
}

.checkMark-image {
    width: 30px;
    height: auto;
}

.contractSection-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: space-around;
    gap: 100px;
}

.contractSection-container-right {
    width: 50vw;
}

/* @media(max-width: 800px) {
  .contractSection-container-right {
      width: 700px;
      margin: 20px;
  }
} */

@media(max-width: 1000px) {
  .contractSection-container-right {
      width: 80vw;
      margin: 20px;
  }
}

/* .contractSection-top-right {
    width: 100%;
} */

.contractSection-bottom-right {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3rem;
}

.grid-contract h3 {
    font-size: 20px;
    font-weight: bold;
}

/* >>>>>>>>>>>>>  Portfolio Section      <<<<<<<<<<<<<<<< */

.portfolioSection-header {
    text-align: center;
    margin-top: 100px;
}

.portfolio-image {
    width: 250px;
    height: auto;
}

.portfolioCards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.portfolioPiece {
    border-bottom: #80b1f0 solid 5px;
    border-radius: 10px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 10px rgb(192, 190, 190);
    width: 300px;
    padding: 20px;
}

/*   >>>>>>>>>>> Who we are section   <<<<<<<<<<<<<< */

.whoWeAre-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.profile-pic {
    width: 300px;
    height: auto;
    border-radius: 300px 500px 300px 600px;
}

.profile-pic-container {
    width: 400px;
    height: auto;
    background-color: #80b1f0;
    border-radius: 500px 200px 500px 200px;
    text-align: center;
}

.whoWeAre-paragraph {
    width: 600px;
    text-align: center;
    margin-bottom: 100px;
    line-height: 1.5;
    font-size: 20px;
}

@media(max-width: 600px) {
  .whoWeAre-paragraph {
      width: 400px;
  }
}

.whoWeAre-container h3 {
    font-weight: lighter;
}

/* >>>>>>>>>>>>> Footer Section <<<<<<<<<<<<<<<<< */

.footer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px;
    background-color: #2935b6;
    color: white;
    align-items: center;
    margin-top: 0;
    padding-bottom: 50px;
}

.footer-section h4 {
    font-weight: lighter;
}
.logo-footer {
    width: 300px;
    height: auto;
}

.footer-navigation-section a {
    text-decoration: none;
    color: white;
}

.footer-info {
    text-align: center;
}

.curvy-div {
    margin: 0;
    font-size: 0;
}

path {
    margin: 0;
}

/* >>>>>>>>>>>>>>> Contact Form <<<<<<<<<<<<<<< */

.contact-form-container {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  input {
    width: 50vw;
    height: 50px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
  }
  textarea {
    width: 50vw;
    height: 250px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
  }

  @media(max-width: 1200px) {
    input {
      width: 80vw;
    }

    textarea {
      width: 80vw;
    }
  }
  
  .submit-btn {
    border-radius: 10px;
    background-color: #2935b6;
    border: 0;
    color: white;
    width: 100px;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    width: 500px;
  }
  
  .contact-info h4 {
    font-size: 1.5rem;
    font-weight: lighter;
  }
  
  .contact-icons {
    width: 50px;
    height: auto;
  }
  
  /* >>>>>>>>>>>>>>> About Page <<<<<<<<<<<<<<<<<*/
  .about-profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(85, 84, 84);
  }

  .about-page-intro-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
  }

  .about-page-intro-p {
    display: flex;
    width: 600px;
    flex-direction: column;
    justify-content: center;
  }

  .about-page-intro-p h1 {
    margin: 0;
    padding: 0;
  }

  .about-page-intro-p h3 {
    font-weight: lighter;
  } 

  .about-page-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
  }

  .feature {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .about-page-feature-icon {
    width: 150px;
    height: auto;
  }

  /* >>>>>>>>>>>>>>>>>>>>> Portfolio Page <<<<<<<<<<<<<<<<<<<*/

  .portfolio-page-intro {
    text-align: center;
    font-weight: lighter;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.5rem;
  }

  /* >>>>>>>>>>>>>>>>>>>> Scrolling Animations <<<<<<<<<<<<<<<<<<<<<*/

  .hidden{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1.5s;
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }