

* {
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

.logo {
    width: 160px;
    height: 135px;
    margin-left: 9vw;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #2935b6;
    margin: 0;
}

ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    color: white;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-right: 10vw;
}

.hero {
    background-color: #3843B8;
    background: linear-gradient(to bottom, #2935b6, rgb(155, 221, 243));
    color: white;
    border-bottom-left-radius: 450px 500px;
    border-bottom-right-radius: 1500px 800px;
    height: 600px;

    margin: 0;
    padding-top: 50px;
}

.hero h1 {
    font-size: 5vw;
    margin: 0;
    padding-left: 10vw;
}


.hero h3 {
    font-size: 1rem;
    padding-left: 10vw;
}

.computers-image {
    /* width: 40rem;
    height: 35rem; */
    width: 40vw;
    height: auto;
    position: absolute;
    top: 225px;
    right: 7vw;
}

/* @media(max-width: 1200px) {
    .computers-image {
        position: inherit;
    }
} */

/* . >>>>>>>>>>>      What we offer section    <<<<<<<<<<< */

.whatWeOffer-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}

.blue {
    color: #80b1f0;
}

.whatWeOffer-paragraph {
    text-align: center;
    font-size: 20px;
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.feature-container {
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
}

.feature-container p {
    font-size: 20px;
}

.icon-container {
    border-radius: 50%;
    width: 50px;
}

.smartPhone-container {
    background-color: gold;
}

.computerAndPhone-container {
    background-color: rgb(187, 138, 187);
}

.seo-container {
    background-color: orange;
}

.features-icon {
    width: 50px;
    height: auto;
    margin: auto;
}

/* >>>>>>>>>>>     Contract Section      <<<<<<<<<<   */
.manOnMoney-image {
    width: 400px;
    height: auto;
    border-radius: 300px 350px 750px 400px;
    padding: 50px;
}

.contractSection-image-container {
    background-color: #d6e4f7;
    border-radius: 200px 500px 250px 400px;
    margin-top: 100px;
}

.checkMark-image {
    width: 30px;
    height: auto;
}

.contractSection-container {
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
    justify-content: space-around;
    gap: 100px;
}

.contractSection-container-right {
    width: 50vw;
}

.contractSection-top-right {
    width: 100%;
}

.contractSection-bottom-right {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3rem;
}

.grid-contract h3 {
    font-size: 20px;
    font-weight: bold;
}

/* >>>>>>>>>>>>>  Portfolio Section      <<<<<<<<<<<<<<<< */

.portfolioSection-header {
    text-align: center;
}

.portfolio-image {
    width: 250px;
    height: auto;
}

.portfolioCards-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.portfolioPiece {
    border-bottom: #80b1f0 solid 5px;
    border-radius: 10px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 10px rgb(192, 190, 190);
    width: 300px;
    padding: 20px;
}

/*   >>>>>>>>>>> Who we are section   <<<<<<<<<<<<<< */

.whoWeAre-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.profile-pic {
    width: 300px;
    height: auto;
    border-radius: 300px 500px 300px 600px;
}

.profile-pic-container {
    width: 400px;
    height: auto;
    background-color: #80b1f0;
    border-radius: 500px 200px 500px 200px;
    text-align: center;
}

.whoWeAre-paragraph {
    width: 600px;
    text-align: center;
    margin-bottom: 100px;
    line-height: 1.5;
    font-size: 20px;
}

.whoWeAre-container h3 {
    font-weight: lighter;
}